@using AGP.Domain.ViewModel.AccountGame
@model List<AccountGameViewModel>
@{
    ViewData["Title"] = "اکانت پی ";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<div class="row" style="padding: 0px 17px 15px;">
    <div class="col-md-3 col-sm-6">
        <div class="box padding-10">
            <div class="col-xs-3">
                <i class="fa fa-user icon"></i>
            </div>
            <div class="col-xs-9 icon-txt">
                <p>تعداد بازدید کنندگان </p>
                <p class="seperator color-black">10000</p>
            </div>
        </div>
    </div>
    <div class="col-md-3 col-sm-6">
        <div class="box padding-10">
            <div class="col-xs-3">
                <i class="fa fa-user icon icon-2"></i>
            </div>
            <div class="col-xs-9 icon-txt">
                <p>تعداد بازدید کنندگان </p>
                <p class="seperator color-black">10000</p>
            </div>
        </div>
    </div>
    <div class="col-md-3 col-sm-6">
        <div class="box padding-10">
            <div class="col-xs-3">
                <i class="fa fa-user icon icon-3"></i>
            </div>
            <div class="col-xs-9 icon-txt">
                <p>تعداد بازدید کنندگان </p>
                <p class="seperator color-black">10000</p>
            </div>
        </div>
    </div>
    <div class="col-md-3 col-sm-6">
        <div class="box padding-10">
            <div class="col-xs-3">
                <i class="fa fa-user icon icon-4"></i>
            </div>
            <div class="col-xs-9 icon-txt">
                <p>تعداد بازدید کنندگان </p>
                <p class="seperator color-black">10000</p>
            </div>
        </div>
    </div>
</div>

<div class="col-md-12 col-sm-12 col-sx-12 padding-0">
    @foreach (var item in Model)
    {
        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="product">
                <a href="#">
                    <div class="product__img" style="background-image:url(/Attachment/@item.ImageName)"></div>
                    <h1 class="product__title">@item.GameDisplayName</h1>
                    <div class="product__description">
                        <p class="pull-left">
                            <span class="fa fa-level-up"></span> مرحله : <span class="fa-iransansdn">@item.Level</span>
                        </p>
                        <p class="pull-right product__price "><span class="seperator">@item.Price.ToString("#,##")</span> تومان </p>
                        <p class="clearfix">
                            <span>فروشنده : </span> <a href="#profile"> @item.UserFullName  / مشاهده پروفایل</a>
                        </p>
                    </div>
                    <div class="text-center clearfix">
                        <a asp-action="Detail" asp-controller="AccountGame" asp-route-id="@item.Id" class="product__btn btn"><span class="fa fa-shopping-cart"></span>درخواست خرید </a>
                    </div>
                </a>
            </div>
        </div>
    }

</div>
      @*<h2>Index Pages</h2>*@
      @*@if(User.Identity.IsAuthenticated)
        {
            <p>hello @User.Identity.Name</p>

        }
        else
        {
           <P>No Authenticated</P>
        }*@
<div class="clearfix col-md-12 text-center">
    <ul class="pagination fa-iransansdn">
        <li><a href="#"><span class="fa fa-angle-right"></span></a></li>
        <li><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li class="active"><a href="#">4</a></li>
        <li><a href="#">5</a></li>
        <li><a href="#">6</a></li>
        <li><a href="#">7</a></li>
        <li><a href="#"><span class="fa fa-angle-left"></span></a></li>
    </ul>
</div>