@using AGP.Domain.ViewModel.AccountGame
@using AGP.Utility.ExtensionMethods
@using AGP.Domain.Entities
@model List<AccountGameViewModel>
@{
    ViewData["Title"] = "لیست اکانت های من - اکانت پی";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var count = 1;
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-action="Index" asp-controller="Home">صفحه اصلی </a></li>
        <li class="breadcrumb-item active" aria-current="page"> ناحیه کاربری </li>
        <li class="breadcrumb-item active" aria-current="page"> لیست اکانت های من </li>
    </ol>
</nav>

<div class="col-md-3 col-sm-5 col-xs-12 pull-left">
    @Html.Partial("_UserPartial")
</div>

<div class="col-md-9 col-sm-7 col-sx-12">
    <div class="box form-material padding-10">
        <form>
            <div class="title">لیست اکانت های من</div>
            <div class="description">
                از این قسمت می توانید اکانت های خود را مشاهده و مدیریت کنید
            </div>
            @if (TempData["Success"] != null)
            {
                if ((bool)TempData["Success"])
                {
                    <div class="alert alert-success">@(TempData["Message"])</div>
                }
                else
                {
                    <div class="alert alert-warning">@(TempData["Message"])</div>
                }
            }
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>ردیف</th>
                            <th>نام بازی</th>
                            <th>سطح </th>
                            <th>تاریخ بار گزاری</th>
                            <th>قیمت(تومان)</th>
                            <th>وضعیت </th>
                            <th>وضعیت خرید </th>
                            <th>عملیات</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td class="fa-iransansdn">@(count++)</td>
                                <td>@item.GameDisplayName </td>
                                <td class="fa-iransansdn">@item.Level</td>
                                <td class="fa-iransansdn">@item.CreateDate.ToShortTime()</td>
                                <td class="seperator color-black">@item.Price.ToString("#,##")</td>
                                <td>
                                    @if (item.State== AccountGameState.Waiting)
                                    {
                                        <span class="text-warning">در حال بررسی</span>
                                    }
                                    else if (item.State== AccountGameState.Confirmed)
                                    {
                                        <span class="text-success">تایید شده</span>
                                    }
                                    else
                                    {
                                        <span class="text-danger">رد شده است</span>
                                    }
                                </td>
                                <td class="text-info">
                                    @if (item.BuyState== AccountGameBuyState.WaitingForBuy)
                                    {

                                        <span>هنوز به فروش نرسیده است</span>
                                    }
                                    else if (item.BuyState== AccountGameBuyState.ExistRequest)
                                    {

                                        <span>یک درخواست خرید برای اکانت وجود دارد</span>
                                    }
                                    else if (item.BuyState== AccountGameBuyState.FailRequest)
                                    {
                                        <span>درخواست خرید ناموفق</span>

                                    }
                                    else
                                    {
                                        <span>به فروش رسید</span>

                                    }
                                </td>
                                <td>
                                    @if (item.State== AccountGameState.Cancel || (item.State ==  AccountGameState.Confirmed && (item.BuyState ==  AccountGameBuyState.WaitingForBuy || item.BuyState ==  AccountGameBuyState.FailRequest)))
                                    {
                                        <a data-toggle="tooltip"  class="delete" title="حذف اکانت" asp-action="AccountDelete" asp-route-id="@(item.Id)"><i class="pe-7s-trash size-20"></i></a>
                                    }

                                    <a data-toggle="tooltip" asp-action="AccountDetail" asp-route-id="@(item.Id)" data-width="600" data-height="500" title="مشاهده جزئیات" class="fancybox fancybox.iframe"><i class="pe-7s-info size-20"></i></a>
                                </td>
                            </tr>

                        }

                    </tbody>
                </table>
            </div>
        </form>
    </div>
</div>

