@using AGP.Domain.ViewModel.AccountGame
@using AGP.Domain.Entities
@using AGP.Mvc.Helper
@using AGP.Mvc.Remark
@model AccountGameViewModel
@{
    ViewData["Title"] = "بررسی و خرید اکانت بازی";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<p>عکس : <img src="~/Attachment/@Model.ImageName"/></p>
<p>قیمت محصول : @Model.Price.ToString("#,##")</p>
<p>نام بازی : @Model.GameDisplayName</p>
<p>توضیحات : @Model.Description</p>
<p>سطح : @Model.Level</p>
<p>
    @if (ButtonAndLink.EnableBuyFinal(Model.State, Model.BuyState,Model.IsActive))
    {
        <button>نهایی کردن خرید</button>
    }
    else
    {
        <button disabled>نهایی کردن خرید</button>
    }
</p>
@if(Model.IsDone)
{
    <p>اکانت خریداری شده است</p>
    <p><a asp-action="Profile" asp-controller="User" asp-route-id="@Model.UserBuyerId"></a></p>
    <p>نام خریدار : @RemarkUserId.Build(Model.UserBuyerId)</p>
}

