@using AGP.Domain.ViewModel.Game
@model List<GameViewModel>
@{
    ViewData["Title"] = "لیست بازی ها - اکانت پی ";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var count = 1;
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-action="Index" asp-controller="Home" asp-area="Admin">پنل ادمین </a></li>
        <li class="breadcrumb-item active" aria-current="page">مدیریت بازی </li>
        <li class="breadcrumb-item active" aria-current="page"> لیست بازی ها </li>
    </ol>
</nav>

<div class="col-md-12">
    <div class="box form-material padding-10">
        <form>
            <div class="title">لیست بازی های اضافه شده در سامانه</div>
            <div class="description">
                از این قسمت می توانید لیست بازی های ثبت شده در سامانه را مشاهده کنید
            </div>
            @if (TempData["Success"] != null)
            {
                if ((bool)TempData["Success"])
                {
                    <div class="alert alert-success">@(TempData["Message"])</div>
                }
                else
                {
                    <div class="alert alert-warning">@(TempData["Message"])</div>
                }
            }

            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>نام بازی</th>
                            <th>نام نمایشی بازی</th>
                            <th>تعداد عکس</th>
                            <th>اقدامات</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td class="fa-iransansdn">@(count++)</td>
                                <td>@item.Name</td>
                                <td>@item.DisplayName</td>
                                <td class="fa-iransansdn">@item.Images.Count</td>
                                <td>
                                    <a data-toggle="tooltip" title="ویرایش"  asp-action="Edit" asp-controller="Game" asp-area="Admin" asp-route-id="@(item.Id)"><i class="pe-7s-edit size-20"></i></a>
                                    <a data-toggle="tooltip" title="حذف بازی" class="delete" asp-action="Delete" asp-controller="Game" asp-area="Admin" asp-route-id="@(item.Id)" data-id="@(item.Id)"><i class="pe-7s-trash size-20"></i></a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </form>
    </div>
</div>
